{% extends "studenthome.html" %} 
{% block content %}

<style>
    
</style>
<div class="container ">
    <table class="table table-striped bg-white">
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
{% for qa in res %}
        <tr>
        <form method="post">
            <td>{{qa['question']}}</td>
            <td><input type ="text"  name="ans" class="form-control" value="{{qa['answer']}}"></td>
            <td>{{qa['date']}}</td>
            <td><button name="submit" type="submit" class="btn btn-warning" value="{{qa['id']}}">Submit</button></td>
        </form>
        </tr>

{% endfor %}

    </table>
</div>

{% endblock %}
 