{% extends 'login.html' %}


{% block content %}
<style>
h2{
	margin-left: 120px;
	margin-top: 50px;

}
form{
	margin-top: 50px;
	margin-left: 90px;
}
input{
	text-align: center;
}
</style>
<h2>Register</h2>
<form method="post">
	<input type="text" name="username" placeholder="Username" /><br><br>
	<select name="usertype" class="form-select" aria-label="Default select example">
		<option selected>Select usertype</option>
		<option value="Teacher">Teacher</option>
		<option value="Student">Student</option>
	</select><br>
	<input type="password" name="password" placeholder="Password" /><br><br>
	<input type="password" name="confirm password" placeholder="confirm Password" /><br><br>
	<input type="email" name="email" placeholder="email" /><br><br>
	<input type="number" name="phone" placeholder="phone" /><br><br>
	<button name="submit" type="submit">signup</button>
</form><br>
<p>Already have any account? <a href="/">Click Here</a></p>
{% endblock %}